# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

\.vscode/ipch/58fbbe70c73bb553/mmap_address\.bin

\.vscode/ipch/58fbbe70c73bb553/programa\.ipch

\.vscode/ipch/58fbc770c73bc49e/mmap_address\.bin

\.vscode/ipch/58fbc770c73bc49e/programa\.ipch

exe
